@use '../admin-shared' as shared;
@include shared.formulario-styles;

.importacao {
  &__desc {
    color: #555;
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }

  &__archivo {
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
  }
}
