<div class="info-paciente">
  <div class="info-paciente__campo">
    <span class="label">Paciente:</span>
    <span>{{ sessao.casoClinico?.nomePaciente }}</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Edad:</span>
    <span>{{ idadeExibicao }}</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Sexo:</span>
    <span>{{ sexoExibicao }}</span>
  </div>
  <div class="info-paciente__campo info-paciente__campo--largo">
    <span class="label">Motivo de consulta:</span>
    <span>{{ motivoExibicao }}</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Triaje:</span>
    <span class="triagem triagem--{{ triagemExibicao | lowercase }}" [class.triagem--oculta]="!triagemExibicao">
      {{ triagemExibicao }}
    </span>
  </div>
</div>
