<div class="info-paciente">
  <div class="info-paciente__campo">
    <span class="label">Paciente:</span>
    <span>{{ sessao.casoClinico?.nomePaciente }}</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Edad:</span>
    <span>{{ sessao.casoClinico?.idadePaciente }} años</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Sexo:</span>
    <span>{{ sessao.casoClinico?.sexoPaciente }}</span>
  </div>
  <div class="info-paciente__campo info-paciente__campo--largo">
    <span class="label">Motivo de consulta:</span>
    <span>{{ sessao.casoClinico?.queixaPrincipal }}</span>
  </div>
  <div class="info-paciente__campo">
    <span class="label">Triaje:</span>
    <span class="triagem triagem--{{ sessao.casoClinico?.triagem | lowercase }}">
      {{ sessao.casoClinico?.triagem }}
    </span>
  </div>
</div>
